body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #1e1e1e;
}

.App{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SeccionBotones{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.SeccionBotones > button{
    display: flex;
    gap: 10px;

    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.Listado{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    flex:1;
}

.Tarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    width: 300px;
}

.Tarea > h2 , .Tarea > textarea{
    padding: 0px 10px;
}

.Tarea > textarea{
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.TareaPie{
    padding: 20px 10px;
    flex: 1;
    display: flex;
    justify-content: space-between;

    flex-direction: row;
}

.EstadoTarea{
    display: flex;
    gap: 5px;
    align-items: center;
}

.EstadoTarea > .Punto{
    background-color: white;
    border-radius: 50%;

    width: 25px;
    height: 25px;
}

.EstadoTarea > button{
    all: unset;

    display: flex;
    gap: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;

    font-weight: bold;
}

.Dias{
    display: flex;
    align-items: center;

    font-weight: bold;

    height: 20px;
    border-radius: 15px;
    background-color: red;
    padding: 5px 20px;
}