body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    background-color: #1e1e1e;
}

.App{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.SeccionBotones{
    display: flex;
    gap: 20px;
    padding: 20px;

    flex-direction: column;
}

.Filtros{
    display: flex;
    gap: 10px;
}

.Filtros > button, .Creacion > button{
    display: flex;
    gap: 10px;

    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
}

.Listado{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;

    flex:1;
}

.Tarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    width: 300px;
}

.Tarea > textarea{
    padding: 0px 10px;
}

.Tarea > h2{
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px;
    color: #06C4E2;
}

.Tarea > textarea{
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.LineaSeparadora{
    height: 10px;
    background-color: #5D5D5D;
    border-radius: 10px;
}

.TareaPie{
    padding: 20px 10px;
    flex: 1;
    display: flex;
    justify-content: space-between;

    flex-direction: row;
}

.EstadoTarea{
    display: flex;
    gap: 5px;
    align-items: center;
}

.EstadoTarea > .Punto{
    background-color: white;
    border-radius: 50%;

    width: 25px;
    height: 25px;
}

.EstadoTarea > button{
    all: unset;

    display: flex;
    gap: 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;

    font-weight: bold;
}

.Dias{
    display: flex;
    align-items: center;

    font-weight: bold;

    height: 20px;
    border-radius: 15px;
    background-color: red;
    padding: 5px 20px;
}

.Formulario{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 400px;
    
    color: white;
    background-color: #393838;
}

.Formulario > form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Formulario > form > input, .Formulario > form > textarea, .botones > input{
    background-color: #585858;
    color: #C4C4C4;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.botones{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.botones > button{
    all: unset;


    border-radius: 5px;
    color: #3CFD27;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    background-color: #368511;
    font-weight: bold;
}

